@(banks: List[Bank])(currencys: List[models.Currency])(error: String)(history: List[String])

@main("Welcome to Play") {
	
	<div class="container">
	    <div class="row">
	    	<div class="col-md-8">
			    <h1>Liste des banques</h1>
			    <p>@banks.size Banques</p>
			    <hr />
				@banks.map { bank =>
					<h2>@bank.getName()</h2>
					<p>@bank.getAccounts().size() Compte(s)</p>
					
					<table class="table table-bordered">
						<thead>
							<td>Identifiant</td>
							<td>Nom</td>
							<td>Propriétaire</td>
							<td>Solde</td>
						</thead>
						<tbody>
				            @bank.getAccounts().map { account =>
				            <tr>
				                <td>@account.getId()</td>
				                <td>@account.getName()</td>
				                <td>@account.getPerson().getLastname() @account.getPerson().getFirstname()</td>
				                <td>@(("%.2f".format(account.getValue(account.getCurrency()))).replaceAll(",",".")) @account.getCurrency().getName()</td>
				            </tr>
				        	}
				        </tbody>
				 	</table>
			    }
		    </div>

		    <div class="col-md-4">
	    		<h1>Transfert</h1>
	    		<br />
	    		<hr />

	    		@if(error != "") {
		        	<div class="alert alert-danger">
		            	<p>@error</p>
		        	</div>
		    	}

				<form role="form" action="" method="post">
					<div class="form-group">
				    	<label for="from">Compte à débiter</label><br />
				    	<select id="from" name="from">
				    		@banks.map { bank =>
				    			@bank.getAccounts().map { account =>
				    				<option value="@account.getId()">@account.getId() - @account.getName()</option>
				    			}
				    		}
				    	</select>
				  	</div>
				  	<div class="form-group">
				    	<label for="to">Compte à créditer</label><br />
				    	<select id="to" name="to">
				    		@banks.map { bank =>
				    			@bank.getAccounts().map { account =>
				    				<option value="@account.getId()">@account.getId() - @account.getName()</option>
				    			}
				    		}
				    	</select>
				  	</div>
				  	<div class="form-group">
				    	<label for="amount">Montant</label><br />
				    	<input type="text" id="amount" name="amount" />
				  	</div>
				  	<div class="form-group">
				    	<label for="currency">Devise</label><br />
				    	<select id="currency" name="currency">
				    		@currencys.map { currency =>
				    			<option value="@currency.getName()">@currency.getName()</option>
				    		}
				    	</select>
				  	</div>
				  	<button type="submit" class="btn btn-default">Valider</button>
				</form>

				<div id="history">
					<h1>Historique</h1>
	    			<p>@history.size() Transaction(s)</p>
	    			<hr />
					<ul>
					@history.map { hist =>
						<li>@hist</li>
					}
					</ul>
				</div>
	    	</div>
	    </div>
    </div><!-- /.container -->
}
